/* Font Face Imports */
@import url(//fonts.googleapis.com/css?family=Overpass);

/* CSS Variables */
:root {
  --color-primary-orange: #fb7413;
  --color-white: #fff;
  --bp-mobile: 375px;
}

/* Base Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%; /* Making 1px=10px from the base 16px */
}

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  background: #131518;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Rating Card Layout */
.card {
  padding: 3.2rem;
  width: 40rem;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* gap: 32px;
  align-items: center; */

  background: #262e38;
  color: var(--color-white);
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Rating Card - Input */

.card-icon-wrapper {
  padding: 2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #303a46;
}

.card-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 35px;
}

.card-description {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  color: #969fad;
}

/* Rating Buttons */
.rating-btn-container {
  flex: 1;

  display: flex;
  gap: 2rem;
}

.rating-btn {
  margin-top: -4px;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  border: none;
  outline: 0;
  color: #7c8798;
  background: #262e38;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.rating-btn:hover {
  color: #fff;
  background-color: #fc7614;
}

input[type="radio"]:checked ~ .rating-btn {
  color: #fff;
  background: #7c8798;
}

.rating-btn-submit {
  cursor: pointer;
  padding: 1.2rem;
  border: none;
  outline: 0;
  border-radius: 25px;
  background: var(--color-primary-orange);
  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 19px;
  letter-spacing: 2px;
}

.rating-btn-submit:hover {
  background: var(--color-white);
  color: var(--color-primary-orange);
}

/* Rating Card - Success */
.selected-rating {
  background: #374251;
  padding: 4px 20px;
  border-radius: 16px;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  color: var(--color-primary-orange);
}

.success-msg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.success-msg-wrapper > h2 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 35px;
  color: var(--color-white);
}

.success-msg-wrapper > p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  text-align: center;
  color: #969fad;
}

/* Media Queries */
@media only screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}
