/* Font Face Imports */
@import url(//fonts.googleapis.com/css?family=Overpass);

/* Base Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%; /* Making 1px=10px from the base 16px */
}

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  background: #131518;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Rating Card Layout */
.card {
  padding: 3.2rem;
  width: 40rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;

  background: #262e38;
  color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-icon-wrapper {
  padding: 2rem;
  width: 48px;
  height: 48px;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #262e38;
}

.card-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.card-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #969fad;
}

/* Rating Buttons */
.rating-btn-container {
  flex: 1;

  display: flex;
  gap: 2rem;
}

.rating-btn {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  border: none;
  outline: 0;
  color: #7c8798;
  background: #262e38;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-btn:hover {
  color: #fff;
  background-color: #fc7614;
}

.rating-btn:focus {
  color: #fff;
  background: #7c8798;
}
